<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:fragment="head">
            <meta charset="UTF-8">
            <link rel="icon" type="image/x-icon" sizes="32x32" th:href="@{favicon.ico}">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link media="screen" rel="stylesheet" th:href="@{/css/styles.css}" type="text/css"/>
            <link media="screen" rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" type="text/css"/>
        </div>
    </head>
</html>